@import '../../scss-variables';

:host {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

p {
  text-align: center;
  font-size: 2rem;
}

button {
  height: 50px;
  width: 50%;
  // font-weight: bold;
  font-family: "B612", sans-serif;
  color: $main-magenta;
  background-color: $main-gray;
  border: solid 2px $main-magenta;
  border-radius: 5px;
  margin: 10% 0px 15px;
  transition: ease-in-out 300ms;
  cursor: pointer;

  &:hover {
    color: $main-gray;
    background-color: $main-magenta;
    border-color: $main-magenta;
    filter: $magenta-drop-shadow;
  }
}


