@import '../../scss-variables';

h1 {
  text-align: center;
}

button {
  height: 50px;
  width: 50%;
  font-weight: bold;
  color: $main-magenta;
  background-color: $main-gray;
  border: solid 2px $faded-magenta;
  border-radius: 5px;
  margin: 15px 0px 15px;
  transition: ease-in-out 300ms;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;

  &:hover {
    color: $main-gray;
    background-color: $main-magenta;
    border-color: $main-magenta;
    filter: $magenta-drop-shadow;
  }
}

p {
  text-align: center;
  font-size: 2.5rem;
}
