
<div class="input-form" [ngClass]="blur ? 'modal-active' : 'init'">

  <!-- <div class="test-outer">
    <div>
    <p>units: {{inputForm.value.units}}</p>
    <p>diameter inches: {{inputForm.value.propDiameterIn}}</p>
    <p>diameter metric: {{inputForm.value.propDiameterMm}}</p>
    <p>airspeed knots: {{inputForm.value.airspeedKnots}}</p>
    <p>airspeed KPH: {{inputForm.value.airspeedKph}}</p>
  </div>
  <div>
    <p>pristine: {{inputForm.controls['units'].pristine}}</p>
    <p>pristine: {{inputForm.controls['propDiameterIn'].pristine}}</p>
    <p>pristine: {{inputForm.controls['propDiameterMm'].pristine}}</p>
    <p>pristine: {{inputForm.controls['airspeedKnots'].pristine}}</p>
    <p>pristine: {{inputForm.controls['airspeedKph'].pristine}}</p>
  </div>
</div> -->

  <form [formGroup]="inputForm" class='form'>

    <div class='units'>
        <input
          id="imperial"
          type='radio'
          value='imperial'
          formControlName="units"
          >
      <label class='unitsLabel' for='imperial'>
        Imperial
      </label>

        <input
          id="metric"
          type='radio'
          value='metric'
          formControlName="units"
          >
      <label class='unitsLabel' for='metric'>
        Metric
      </label>
    </div>

    <div class='inputs'>

      <label>Prop Dia. {{ inputForm.value.units === 'imperial' ? '(in)' : '(mm)' }}</label>
      <input
        *ngIf="inputForm.value.units === 'imperial'; else metricDiameter"
        formControlName="propDiameterIn"
        class='propDiameter'
        type='number'
        step='0.1'
        inputMode='decimal'
        placeholder='0'
        >
      <ng-template #metricDiameter>
        <input
          formControlName="propDiameterMm"
          class='propDiameter'
          type='number'
          step='0.01'
          inputMode='decimal'
          placeholder='0'
        >
      </ng-template>

      <label>Batt Volts (V)</label>
      <input
        formControlName="battVoltage"
        class='battV'
        type='number'
        inputMode='decimal'
        step='any'
        placeholder='0'
        >

      <label>Motor (kV)</label>
      <input
        formControlName="motorVoltage"
        class='motorKv'
        type='number'
        inputMode='decimal'
        step='any'
        placeholder='0'
        >

      <button
        class='button'
        (click)="submitValues()"
        >PROP TIP SPEED
      </button>
    </div>

    <div class='right-side'>
      <div class='inputs-right'>

        <label>Airspeed {{ inputForm.value.units === 'imperial' ? '(knots)' : '(KPH)' }}</label>
        <input
          *ngIf="inputForm.value.units === 'imperial'; else metricAirspeed"
          formControlName="airspeedKnots"
          id='airspeed'
          class='airspeed'
          type='number'
          inputMode='decimal'
          step='any'
          placeholder='0'
          >
          <ng-template #metricAirspeed>
            <input
            formControlName="airspeedKph"
            id='airspeed'
            class='airspeed'
            type='number'
            inputMode='decimal'
            step='any'
            placeholder='0'
            >
          </ng-template>
      </div>

      <div class='options'>
        <label>Altitude (ft)</label>
        <input
          formControlName="altitude"
          class='altitude'
          type='number'
          inputMode='decimal'
          step='any'
          placeholder='0'
          >

        <label>City / Zip</label>
        <input
          formControlName="location"
          name="location"
          type='text'
          placeholder='location'
          >

        <button
          class='button'
          (click)="sendLocation()"
          >WEATHER
        </button>
      </div>
    </div>

  </form>
</div>
