
<div class="input-form" [ngClass]="blur ? 'modal-active' : 'init'">
  
  <form [formGroup]="inputForm" class='form'>

    <div class='units'>
        <input
          id="imperial"
          type='radio'
          value='imperial'
          formControlName="units"
          >
      <label class='unitsLabel' htmlFor='imperial'>
        Imperial
      </label>

        <input
          id="metric"
          type='radio'
          value='metric'
          formControlName="units"
          >
      <label class='unitsLabel' htmlFor='metric'>
        Metric
      </label>
    </div>

    <div class='inputs'>
      
      <label>Prop Dia.</label>

      <input
        formControlName="propDiameter"
        class='propDia'
        type='number'
        step='any'
        inputMode='decimal'
        placeholder='0'
        >

      <label>Batt Volts (V)</label>
      <input
        formControlName="battVoltage"
        class='battV'
        type='number'
        inputMode='decimal'
        step='any'
        placeholder='0'
        >

      <label>Motor (kV)</label>
      <input
        formControlName="motorVoltage"
        class='motorKv'
        type='number'
        inputMode='decimal'
        step='any'
        placeholder='0'
        >

      <button
        class='button'
        (click)="submitValues()"
        >PROP TIP SPEED
      </button>
    </div>

    <div class='right-side'>
      <div class='inputs-right'>
        <label>Airspeed</label>
        <input
          formControlName="airspeed"
          id='airspeed'
          class='airspeedKnots'
          type='number'
          inputMode='decimal'
          step='any'
          placeholder='0'
          >
      </div>

      <div class='options'>
        <label>Altitude (ft)</label>
        <input
          formControlName="altitude"
          class='altitude'
          type='number'
          inputMode='decimal'
          step='any'
          placeholder='0'
          >

        <label>City / Zip</label>
        <input
          formControlName="location"
          name="location"
          type='text'
          placeholder='location'
          >

        <button
          class='button'
          (click)="sendCityZip()"
          >WEATHER
        </button>
      </div>
    </div>

  </form>
</div>
