@import '../scss-variables';

:host {
  height: 100vh;
  overflow: hidden;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $main-blue;
  background-color: $main-gray;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-active {
  animation: blur 700ms forwards ease-out;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

.modal-inactive {
  animation: no-blur 700ms forwards ease-out;
}

@keyframes no-blur {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}
