
<!-- // TODO: conditionally render two different inputs based on the state of inputForm.units -->

<div class="outputs" [ngClass]="blur ? 'modal-active' : 'init'">

  <!-- display current local weather info if data has been fetched from the weather API -->
  <div class='weather'>
    <p *ngIf="weather">City: {{weather.name}} | Current: {{weather.region}} | Temp: {{weather.temp_f}} | Humidity: {{weather.humidity}}% | Pressure: {{weather.pressure_in}}</p>
  </div>

  <!-- display imperial or metric calculated tip speed value based on current state of 'displayValues.units' -->
  <div class='output-value'>
    Mach
    <span *ngIf="weather && values; else machNum">{{values}}</span>
    <ng-template #machNum>#</ng-template>
  </div>

  <!--
    if local mach 1 has been calculated and weather info has been fetched, display local mach 1
    if local mach 1 has not been calculated but tip speed has been calculated, display tip speed and 'enter location for local mach 1'
  -->
  <div class='local-mach-1'>
    <p *ngIf="weather || values">
      <!-- <span *ngIf="values.units === 'imperial'; else metricUnits">`Tip Speed: fpsTipSpeedString | Local Mach 1: fpsLocalMach1String`</span>
      <ng-template #metricUnits>`Tip Speed: mpsTipSpeedString | Local Mach 1: mpsLocalMach1String`</ng-template> -->
    </p>
  </div>

</div>
