<div class="outputs">

  <!-- display current local weather info if data has been fetched from the weather API -->
  <div class='weather'>
    <p *ngIf="weather">
      <span *ngIf="units === 'imperial'; else metricWx">
        City: {{ weather.name }} |
        Current: {{ weather.text }} |
        {{ displayStrings.temperatureImperial }} |
        Humidity: {{ weather.humidity }}% |
        {{ displayStrings.pressureImperial }}
      </span>
      <ng-template #metricWx>
        <span>
          City: {{ weather.name }} |
          Current: {{ weather.text }} |
          {{ displayStrings.temperatureMetric }} |
          Humidity: {{ weather.humidity }}% |
          {{ displayStrings.pressureMetric }}
        </span>
      </ng-template>
    </p>
  </div>

  <!-- display imperial or metric calculated tip speed value based on current state of 'displayValues.units' -->
  <div class='output-value'>
    <span *ngIf="machNumber; else machNum">{{ displayStrings.machNumber }}</span>
    <ng-template #machNum>Mach #</ng-template>
  </div>

  <!--
    if local mach 1 has been calculated and weather info has been fetched, display local mach 1
    if local mach 1 has not been calculated but tip speed has been calculated, display tip speed and 'enter location for local mach 1'
  -->
  <div class='local-mach-1'>
    <p *ngIf="propTipSpeeds.feetPerSecond || weather">
      <span *ngIf="units === 'imperial'; else metricRates">
        {{ propTipSpeeds.feetPerSecond ? displayStrings.tipSpeedImperial : displayStrings.enterSpecs }} |
        {{ weather ? displayStrings.localMach1Imperial : displayStrings.enterLocation }}
      </span>
      <ng-template #metricRates>
        <span>
          {{ (propTipSpeeds.metersPerSecond > 0.1) ? displayStrings.tipSpeedMetric : displayStrings.enterSpecs }} |
          {{ (weather) ? displayStrings.localMach1Metric : displayStrings.enterLocation }}
        </span>
      </ng-template>
    </p>
  </div>

</div>
