@use '@angular/material' as mat;
@import './scss-variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography: mat.define-typography-config(
  $font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif",
  );
@include mat.core($custom-typography);

:host {
  background-color: $main-gray;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dialog-panel .mat-dialog-container {
  border: solid 2px $main-magenta;
  background-color: $main-gray;
  color: $main-blue;
}
